{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container w-2/3 rounded-3xl border shadow bg-gray-400 ">
        <h3>Add new book</h3>
        <a href="{% url 'codeApp:view-books' %}">Go back to books</a>
        <form action='.' method='post'>
            {% csrf_token %}
                <div>
                    {{ form|crispy }}
                </div>
            <button class="bg-green-200 border px-3 py-2 rounded-xl w-1/2 flex-center" type="submit">Add</button>
        </form>
    </div>
</section>
{% endblock %}