<!-- codeApp/author_list.html -->
{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="container w-2/3 rounded-3xl border shadow bg-gray-400">
            <h1>Authors</h1>
            <a class="rounded-m bg-gray-300 px-3 mx-2" href="{% url 'codeApp:add-book' %}">Add a new book</a>
            <a class="rounded-m bg-gray-300 px-3 mx-2" href="{% url 'codeApp:contact-form' %}">Contact us</a>
            <hr/>
            <ul>
                {{book_list}}
                {% for author in author_list %}
                <li>
                    <a href="{% url 'codeApp:view-book' book.pk %}">{{ author.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>


{% endblock content %}
