{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container w-2/3 rounded-3xl border shadow bg-gray-400 ">
        <h3>Contact Form</h3>
        <form action='.' method='post'>
            {% csrf_token %}
                <div>
                    {{ form|crispy }}
                </div>
            <button class="border px-3 py-2 rounded-xl w-1/2 flex-center hover:bg-green-200" type="submit">Send</button>
        </form>
    </div>
</section>
{% endblock %}